@{
    ViewBag.Title = "PEALS - QUIENES SOMOS";
}
<style type="text/css">
    #contenido
    {
        float: left;
        width: 100%;
    }
    
    .divElemento
    {
        float: left;
        width: 100%;
    }
    
    .imagenIzq
    {
        width: 40%;
        float: left;
    }
    
    .textoDer
    {
        width: 58%;
        float: right;
        margin-right:2%;
    }
    
    .imagenDer
    {
        width: 40%;
        float: right;
    }
    
    .textoIzq
    {
        width: 58%;
        float: left;
        margin-left:2%;
    }
</style>
<div id="tituloPagina">
    <h1>
        QUIENES SOMOS</h1>
</div>
<div id="explicacionTituloPagina">
    <h1>
        En esta sección te contamos todo lo que te puede interesar de P.E.A.L.S</h1>
</div>
<section id="contenido">

<div class="divElemento">
    <div class="imagenIzq"><img src="/Content/Resources/QuienesSomos/universidad.png" style="width:80%;"/></div>
    <div class="textoDer">
    P.E.A.L.S (Plataforma Educativa para Actividades del Lenguaje de Señas) es un proyecto de innovación tecnológica, 
    desarrollado en el marco de la asignatura Proyecto Final, de la Universidad Tecnológica Nacional - Facultad Regional Córdoba, 
    con el fin de que sus integrantes, Gabriel Freisz, Martín Gramática y Adrian Mondolo, logren cumplir con todos los requisitos de la
     Facultad para lograr el título de Ingeniero en Sistemas de Información otorgado por dicha facultad.</div>
</div>

<div class="divElemento">
    <div class="imagenDer"><img src="/Content/Resources/QuienesSomos/idea.png" style="width:80%;"/></div>
    <div class="textoIzq">
    <br /><br /><br />P.E.A.L.S surgió como una loca idea en el año 2011. <br />En un principio, se planteaba el desarrollo de un intérprete del lenguaje de señas en tiempo real,
    aunque luego de muchas charlas y reuniones con educadores y personas involucradas en el área de la eduación especial, se decidió volcar el sistema a una plataforma educativa que
    brinde apoyo en la educación de niños y adultos con capacidades auditivas especiales, mediante una herramiento divertida y de aprendizaje por técnicas de agilización de memoria.</div>
</div>

<div class="divElemento">
    <div class="imagenIzq"><img src="/Content/Resources/QuienesSomos/red social.png" style="width:80%;"/></div>
    <div class="textoDer">
    Desde ese momento, P.E.A.L.S empezó a desarrollarse, agregando mucha funcionalidad en sus módulos de gestión y administración de las instituciones, los docentes, los alumnos, los cursos, las actividades, etc.
    De esta forma el sistema fue inclinando sus prestaciones y funcionalidad de acuerdo a las tendencias de la época, a una "Red Social Educativa" que facilita el trabajo conjunto y se alimenta de la participación
    e interacción de los distintos actores del sistema.
    </div>
</div>

<div class="divElemento">
    <div class="imagenDer"><img src="/Content/Resources/QuienesSomos/img_señas.png" style="width:80%;"/></div>
    <div class="textoIzq">
    <br /><br /><br /> embargo, pese a este cambio de rumbo y al crecimiento exponencial de requerimientos del sistema, el módulo de detección de señas automática mediante una cámara simple, siguió manteniendo vigencia y relevancia
    dentro del sistema, siendo el módulo más innovador y que mayor valor agregado le da al sistema.
    </div>
</div>

<div class="divElemento">
    <div class="imagenIzq"><img src="/Content/Resources/QuienesSomos/red.gif" style="width:80%; border-radius:1em;"/></div>
    <div class="textoDer">
    Este módulo trabaja con poses, es decir, señas sin movimiento, las cuales son cargadas por los desarrolladores del sistema, mediante el entrenamiento de una red neuronal basada en el algorítmo de clasificación y entrenamiento SVM.
    De esta forma, PEALS permite trabajar con cualquier tipo de seña, siempre y cuando la red neuronal mencionada sea entrenada correctamente. Esto le da al detector de señas de P.E.A.L.S una posibilidad de crecimiento ilimitada,
    permitiendo que en un futuro cercano y con poco esfuerzo, se puedan incluir otros idiomas y diccionarios de señas de otros paises y regiones. <br /><br /><br /></div>
</div>



</section>
