@{
    ViewBag.Title = "PEALS - CONTACTO";
}

<div id="tituloPagina">
    <h1>
        CONTACTO</h1>
</div>
<div id="explicacionTituloPagina">
    <h1>El mensaje se envió con éxito. Gracias por su contacto!</h1>
</div>