<div id="administrador">
    <h1>Administrador</h1>
    <figure>
        <img src="../../Content/Resources/Ayuda/Administrador/8-funcionesAdministrador.png" />
        <figcaption>8. Funciones del administrador</figcaption>
    </figure>
    <p>
        Un usuario con rol de administrador puede:
    </p>
    <ul>
        <li type="disc"><b>Dar de alta una institución,</b></li>
        <li type="disc"><b>Agregar cursos,</b></li>
        <li type="disc"><b>Invitar a docentes a participar en una institución específica,</b></li>
        <li type="disc"><b>Asignar docentes a los cursos creados y,</b></li>
        <li type="disc"><b>Crear los documentos para el seguimiento de alumnos y cursos que deberán completar los docentes.</b></li>
    </ul>

    <h2 id="administradorPrincipal">3.1 Pantalla principal</h2>
    <p>
        Al ingresar con un usuario administrador, el sistema le mostrará al usuario su página principal la cual le muestra
        toda la información de sus instituciones a modo de resumen, más una barra de accesos para que el usuario pueda administrar sus instituciones.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Administrador/9-pantallaPrincipal.png" />
        <figcaption>9. Pagina principal del administrador</figcaption>
    </figure>
    <p>
        Dentro de la pantalla principal se pueden distinguir 4(cuatro):
    </p>
    <ul>
        <li type="disc">1- <b>Menu de institución,</b> donde se visualiza la institución actual junto a opciones que permitiran cambiarse a otra institución (en caso de tener varias), modificar los datos de la institución y una última opción que permite dar de baja una institución.</li>
        <li type="disc">2- <b>Barra de accesos,</b> donde se puede acceder a las diferentes acciones que puede hacer una usuario administrador.</li>
        <li type="disc">3- <b>Plantel docente,</b> que muestra todos los docentes que estan participando en la institución seleccionada.</li>
        <li type="disc">4- <b>Cursos,</b> donde se verá los cursos de la institución junto al docente responsable.</li>
    </ul>

    <h2 id="administradorInstituciones">3.2 Instituciones</h2>
    <p>
        Un usuario adminitrador es el encargado de dar de alta una instución y su mantenimiento en el sistema. Es por eso que el sistema PEALS ofrece la siguiente funcionalidad para administrar las instituciones:
    </p>
    <div id="administradorNuevaInstitucion" class="submenu">
        <div class="title"><h2>3.2.1</h2><h2>Alta de instituciones</h2></div>
        <p>
            Para crear una nueva institución se deberá presionar el botón <b>"Agregar Instituciones"</b> ubicado en la parte izquierda de la barra de accesos el cual abrira la página donde se podrá cargar la información de la institución.
            <br />
            Una vez ingresado se podrá ver dos secciones:
        </p>
        <ul>
            <li type="disc"><b>Datos de la institución,</b> donde se ingresará la información básica de la institución como ser el <b>Nombre, Teléfono y Dirección</b></li>
            <li type="disc"><b>Información (Opcional),</b> que se le mostrará a los usuarios en general y servirá como presentación de la misma. Dentro de ésta sección se podrá ingresar además un imágen para la institución y un video para que pueda ser usado en la presentación.</li>
        </ul>
        <p>
            Una vez ingresados los datos el usuario deberá confirmar la acción presionando el botón <b>Guardar</b>.
        </p>
        <figure>
            <img src="../../Content/Resources/Ayuda/Administrador/10-nuevaInstitucion.png" />
            <figcaption>10. Dar de alta una institución - Datos de la instución</figcaption>
        </figure>
        <figure>
            <img src="../../Content/Resources/Ayuda/Administrador/11-nuevaInstitucion.png" />
            <figcaption>11. Dar de alta una institución - Información</figcaption>
        </figure>
    </div>
    <div id="administradorModificarInstitucion" class="submenu">
        <div class="title"><h2>3.2.2</h2><h2>Modificar institución</h2></div>
        <p>
            Para modificar los datos de una institución primero hay que asegurarse de que haya una institución seleccionada en el menú de la institución. De ser así se deberá presionar, dentro del mismo menu, la opción <b>"Editar"</b> lo cual abrirá la pagina con todos los datos de la institución cargados los cuales se podrán modificar.
        </p>
        <figure>
            <img src="../../Content/Resources/Ayuda/Administrador/12-modificarInstitucion.png" />
            <figcaption>12. Modificar Institución</figcaption>
        </figure>
        <p>Una vez terminado la modificación de los datos, se deberá presionar el botón <b>Guardar</b>.</p>
    </div>
    <div id="administradorEliminarInstitucion" class="submenu">
        <div class="title"><h2>3.2.3</h2><h2>Dar de baja una institución</h2></div>
        <p>
            Para dar de baja una institución primero hay que asegurarse de que haya una institución seleccionada en el menú de la institución. De ser así se deberá presionar, dentro del mismo menu, la opción <b>"Eliminar"</b>.
        </p>
        <figure>
            <img src="../../Content/Resources/Ayuda/Administrador/13-eliminarInstitucionOpcion.png" />
            <figcaption>13. Dar de Baja una Institución</figcaption>
        </figure>
        <p>Al presionar sobre el botón <b>eliminar</b>, se mostrará un mensaje con 3(tres) opciones:</p>
        <ul>
            <li type="disc"><b>Mejor no,</b> cancela la operación.</li>
            <li type="disc"><b>Sí, estoy seguro,</b> da de baja la institución en PEALS.</li>
            <li type="disc"><b>Exportar y Cerrar,</b> permite pasar los datos de la institución a otra.</li>
        </ul>
        <p>
            Si se selecciona la opción de exportar, el sistema abriara la página de exportación donde se visualizaran las instituciones creadas por el administrador
            y a las cuales se les puede pasar los datos. 
        </p>
        <figure>
            <img src="../../Content/Resources/Ayuda/Administrador/14-exportarInstitucion.png" />
            <figcaption>14. Exportar Institución</figcaption>
        </figure>
        <p>
            Para completar la acción, se deberá seleccionar la institución a la cual se exportaran los datos y los cursos que se desea mantener. Una vez terminada
            la selección se deberá presionar <b>Exportar y Cerrar</b>.
            <br /><br />
            *Una vez finalizada la exportación, el administrador deberá volver a asignar los docentes a los cursos correspondientes.
        </p>
    </div>
    <div id="administradorCambiarInstitucion" class="submenu">
        <div class="title"><h2>3.2.4</h2><h2>Multiples instituciones</h2></div>
        <p>
            Existe la posibilidad de que un usuario administrador tenga a su cargo más de una institución. Para ello el sistema le permite ir cambiando entre las instituciones para así poder administrar sus datos.
            <br />
            Para cambiar a otra institución, se deberá presionar sobre el botón <b>Cambiar</b> que se encuentra en el menú de institución el cual mostrará un listado con todos los institutos cargados por el usuario.
        </p>
        <figure>
            <img src="../../Content/Resources/Ayuda/Administrador/15-cambiarInstitucion.png" />
            <figcaption>15. Cambiar Institución</figcaption>
        </figure>
        <figure>
            <img src="../../Content/Resources/Ayuda/Administrador/16-listaInstituciones.png" />
            <figcaption>16. Listado de Instituciones</figcaption>
        </figure>
        <p>
            Para completar el cambio de institución, el usuario solo deberá presionar sobre el nombre de la institución que se encuentra en el listado.
        </p>
    </div>

    <h2 id="administradorCursos">3.3 Cursos</h2>
    <p>
        Los cursos son una parte muy importante dentro del sistema PEALS ya que será donde los docentes presentarán sus actividades, las cuales podrán ser hechas por los alumnos. El encargado de la cración de los cursos y la asignación de un docente a dicho curso, es el administrador.
        <br />
        En esta sección se verá la primera parte de este proceso que es la creación de un curso para la institución seleccionada.
        <br />
        Para ingresar a la cración de un curso, el usuario deberá presionar el botón <b>Agregar Cursos</b> ubicado en la barra de accesos. Dicha acción nos abrirá un formulario con los datos básicos del curso, como ser:
    </p>
    <ul>
        <li type="disc"><b>Nombre,</b> que es el nombre con el que se conocerá al curso.</li>
        <li type="disc"><b>Año, División y Turno</b>.</li>
        <li type="disc"><b>Nivel</b>, en el caso el cursos este destinado a un nivel específico como ser inicial o primario.</li>
        <li type="disc"><b>Descripción</b>, es información extra del curso para que el público en general sepan a que esta destinado.</li>
        <li type="disc"><b>Docente</b>(Opcional). Cada curso deberá tener un docente responsable el cual asignará actividades y las corrigirá.</li>
    </ul>
    <figure>
        <img src="../../Content/Resources/Ayuda/Administrador/17-nuevoCurso.png" />
        <figcaption>17. Nuevo Curso</figcaption>
    </figure>
    <p>
        Se puede dar el caso de que la institución ya disponga de un plantel docente y que el administrador ya tenga decidido el docente. Por este caso, es posible hacer la asignación al curso al momento de la creación.
        <br />
        Para realizar dicha acción, se puede ingresar el <b>email</b> del docente con el que se encuentra registrado en PEALS o, en caso de no saberlo, se lo puede buscar por nombre presionando el botón <b>Seleccionar Docente</b>.
        <br />
        Para completar el registro, se debe presionar el botón <b>Guardar</b>.
    </p>

    <h2 id="administradorDocentes">3.4 Plantel Docente</h2>
    <p>
        Todos los docentes que participan en una institución conforman el plantel docente. Dichos docentes son lo que estarán encargados de los cursos.
        <br />
        Una vez seleccionada una institución, se puede ver a todos los docentes que participal en la parte izquierda de la pantalla bajo el nombre de <b>Plantel Docente</b>.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Administrador/18-plantelDocente.png" />
        <figcaption>18. Plantel Docente</figcaption>
    </figure>
    <p>
        En este panel se veran todos los docentes listados por nombre junto a su email. El listado además posee un buscador de docentes en la parte superior para agilizar la búsqueda de un docente específico.
        <br /><br />
        *Para desvincular a un docente de la instución, se deberá presionar sobre el botón <b>eliminar</b>
        <small><img src="../../Content/Resources/Ayuda/Administrador/19-eliminarOpcion.jpg" /></small>
        ubicado al lado del nombre.
        <br /><br />
        Para invitar a docentes a unirse a la institución, se deberá presionar el boton <b>Agregar Docentes</b> ubicado en la barra de accesos. Una vez ahí, se podrá ver un listado con todos los docentes que 
        participan en PEALS a los cuales se les podrá enviar una invitación para participar en una institución.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Administrador/20-listadoDocentes.png" />
        <figcaption>19. Listado de Docentes</figcaption>
    </figure>
    <p>
        *Cuando se invitita a un docente a formar parte de una institución, el sistema le envia una solicitud de participación la cual deberá ser aceptada por el docente. Una vez que el docente acepte la invitación, 
        el docente automaticamente empezará a formar parte del plantel docente de la institución seleccionada.
    </p>

    <h2 id="administradorAsignarDocentesACursos">3.5 Asignación de Docentes a Cursos</h2>
    <p>
        Una vez creados los cursos y de ya disponer de un plantel docente, el administrador deberá asignar responsables a los cursos creados. Para ello, PEALS acomoda la información en dos secciones:
    </p>
    <ul>
        <li type="disc"><b>Plantel Docentes</b>, ubicado a la izquierda de la pantalla y,</li>
        <li type="disc"><b>Cursos</b>, donde se ven todos los cursos del ciclo lectivo actual.</li>
    </ul>
    <p>
        Para realizar la asignación se pueden seleccionar uno o varios cursos y arrastrarlos hacia un docente en particular ó, se puede selecciónar un docente y arrastrarlo hasta un curso específico.
        <br />
        Al realizar la asignación se mostrará una ventana con el docente y los cursos seleccionados junto a la posibilidad de escribir un mensaje para el docente.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Administrador/21-confirmarAsignacionCurso.png" />
        <figcaption>20. Confirmar Asignación a Curso</figcaption>
    </figure>
    <p>
        Una vez asignado se podrá observar que el curso, en el listado de cursos, ha cambiado de estado. En PEALS se manejan 3(tres) colores para identificar el estado de un curso:
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Administrador/22-estadoCursos.png" />
        <figcaption>21. Listado de Cursos</figcaption>
    </figure>
    <ul>
        <li type="disc"><canvas class="estado" style="background-color:#66BE73;"></canvas><b>Confirmado</b>, es un curso el cual ya tiene un docente asignado.</li>
        <li type="disc"><canvas class="estado" style="background-color:#F8A43D;"></canvas><b>A Confirmar</b>, el curso espera la confirmación del docente.</li>
        <li type="disc"><canvas class="estado" style="background-color:#F58558;"></canvas><b>Sin Asignar</b>, es un curso el cual no tiene docente asignado.</li>
    </ul> 
    <p>
        *Para desvincular a un docente de un curso, primero se deberá seleccionar un curso y luego se deberá presionar sobre el botón
        <small><img src="../../Content/Resources/Ayuda/Administrador/23-desvincularCurso.png" /></small>
        ubicado en la parte superior derecha del listado de cursos.
        <br />
        Para confirmir la acción, se deberá presionar sobre el botón <b>Sí, estoy seguro</b>.
    </p>
</div>
