<div id="alumno">
    <h1>Alumno</h1>
    <figure>
        <img src="../../Content/Resources/Ayuda/Alumno/36-funcionesAlumno.png" />
        <figcaption>32. Funciones del docente</figcaption>
    </figure>
    <p>
        Los alumnos participan en PEALS resolviendo las actividades que les ha sido asignadas en los cursos
        <br /><br />
        Cuando un alumno ingresa al sistema, podrá ver en en sus página principal 2(dos) secciones:
    </p>
    <ul>
        <li type="disc"><b>Barra de Accesos,</b> donde encontrá información sobre los cursos.</li>
        <li type="disc"><b>Actividades Pendientes,</b> que lista todas las actividades <b>no</b> han sido resultas.</li>
    </ul>
    <figure>
        <img src="../../Content/Resources/Ayuda/Alumno/37-pantallaPrincipal.png" />
        <figcaption>33. Página principal del Alumno</figcaption>
    </figure>

    <h2 id="alumnoCursos">5.1 Cursos</h2>
    <p>
        Para que el alumno puede realizar actividades, es necesario que este en inscripo en un curso.
        <br />
        En PEALS se definen 2(dos) formas en las que un alumno puede empezar a participar en un curso.
        <br /><br />
        La <b>Primera</b> es siendo invitado por un docente a participar en un curso. Si este es el caso, el alumno recibirá una <b>Solicitud</b> para participar la cuál
        podrá ser <b>Aceptada</b> o <b>Rechazada</b> con la posibilidad además de enviarle un mensaje al docente que ha enviado la invitación.
        <br /><br />
        La <b>Segunda</b> es buscando los cursos que hay disponibles en las diferentes instituciones inscriptas en PEALS a los cuales el alumno podrá enviar una <b>Solitud</b> de 
        participación.
        <br />
        Para enviar una solicitud, se deberá presionar sobre el botón <b>Más Cursos</b> lo cual mostrará un listado con todas las instituciones inscriptas en PEALS. El alumno podrá acceder
        a la información de una instución presionando sobre alguna de ellas.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Alumno/38-solicitarInscripcionAcurso.png" />
        <figcaption>34. Solicitud de Inscripción a Curso</figcaption>
    </figure>
    <p>
        Al ingresar a una institución se podrá en pantalla 3(tres) secciones: <b>Información General, Cursos y Docentes</b>. 
        <br />
        Para continuar con la solicitud de inscripción, se deberá presionar sobre <<b>Cursos</b> el cual mostrará los cursos disponibles y luego presionar sobre el cursos al cual se desea inscribir.
        Esta acción abrira una ventana para confirmar y en donde el alumno puede agregar además algún mensaje al docente.
    </p>

    <h2 id="alumnoActividad">5.2 Actividades</h2>
    <p>
        Las actividades aparecen listadas en la pantalla principal del alumno. 
        <br /><br />
        Si un alumno desea realizar una actividad, deberá presionar sobre la actividad deseada y luego presionar en <b>Nuevo Resolución</b>.
        <figure>
            <img src="../../Content/Resources/Ayuda/Alumno/39-resolucionesActividad.png" />
            <figcaption>35. Actividad Resuelta</figcaption>
        </figure>
        Una vez terminada de cargar la página, el alumno ya se encuentra realizando la actividad, lo que quiere decir que ya empieza a contarse el tiempo.
        <br />
        En la resolución de una actividad se pueden encontrar 3(tres) áreas:
    </p>
    <ul>
        <li type="disc"><b>Información,</b> que se encuentra en la parte superior y contiene la explicación de la actividad y opciones de ayuda.</li>
        <li type="disc"><b>Ejercicios restantes,</b> el cual indica en que ejercicio estoy y cuantos ejercicios me faltan por hacer.</li>
        <li type="disc"><b>El ejercicio en si, </b>que contiene lo que el alumno debe hacer.</li>
    </ul>
    <figure>
        <img src="../../Content/Resources/Ayuda/Alumno/40-resolucion.png" />
        <figcaption>36. Resolver Actividad</figcaption>
    </figure>
    <p>
        Un ejercicio se puede responder de 3(tres) formas siendo estas
    </p>
    <ul>
        <li type="disc">
            <b>Seleccionando una opción.</b> En este caso el alumno debera hacer click sobre el recurso correcto y presionar el botón <b>Resolver</b> para comprobar si la opción elegida es correcta o no. 
            En caso de ser correcta, el sistema pasará automanticamente al siguiente ejercicio.
        </li>
        <li type="disc">
            <b>Escribiendo la respuesta.</b> Es este caso se le pedirá al usuario que escriba la respuesta. Para confirmar deberá presionar <b>Resolver</b> y, si la respuesta es la correcta, 
            el sistema pasará al siguiente ejercicio.
        </li>
        <li type="disc">
            <b>Haciendo una seña.</b> En este caso se le pedira al usuario que autorice el uso de la cámara web. Para resolver esta actividad, el alumno deberá seguir las instrucciones que se le presentan
            y hacer la seña que se le pide. Cuando la seña realizada es correcta, el sistema pasa al siguiente ejercicio.
        </li>
    </ul>
    <p>
        *El alumno en todo caso podrá presionar el botón <b>Saltar</b> para pasar al siguiente ejercicio sin resolver.
        <br /><br />
        Una vez realizados todos los ejercicios, el sistema calculará el resultado obtenido en la actividad y se lo mostrará al alumno junto a información adicional como son el tiempo, cantidad de intentos, 
        si hizo uso de la ayuda, etc.
    </p>
</div>
