<div id="conceptosImportantes">
    <h1>2. Conceptos Importantes</h1>
    <h2 id="accesoAplicacion">2.1 Acceso a la aplicación</h2>
    <p>
        El portal PEALS es una aplicación web que puede ser accedida desde cualquier navegador de internet. <br />
        El usuario debe ingresar a un navegador web (Chrome, Nescape) y escribir la dirección URL del portal. Una vez cargada la página, se visualiza una pantalla en donde se le solicita al usuario ingresar los datos de autenticación.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Acceso/1-accesoSistema.png" />
        <figcaption>1. Login de PEALS</figcaption>
    </figure>
    
    <p>
        Para comenzar a utilizar el Sistema de PEALS el usuario debe ingresar su nombre de usuario y contraseña y presionar el botón  "Iniciar Sesión".<br />
        Si los datos ingresados por el usuario no son correctos el sistema visualiza un mensaje de error:
    </p>
    <dl>
        <dd><b>"Los datos no son correctos. Por favor, ingresa nuevamente tus datos."</b></dd>
        <dt>Si el nombre de usuario y la clave ingresados son válidos el sistema se dirigira a la página principal del usuario.</dt>
    </dl>

    <h2 id="menuGeneral">2.2 Menú General</h2>
    <p>
        El menú general presenta las siguientes opciones:
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Acceso/2-menuPrincipal.png" />
        <figcaption>2. Menú Principal</figcaption>
    </figure>
    <p>
        El menú general presenta las siguientes opciones:
    </p>
    <ul>
        <li type="disc"><b>Inicio,</b> permite al usuario volver a la pantalla principal del usuario.</li>
        <li type="disc"><b>¿Quiénes somos?,</b> información sobre los desarrolladores del sistema y la evolución del mismo.</li>
        <li type="disc"><b>Contacto,</b> permite al usuario enviar un mensaje a los desarrolladores del sitio. Para ello deberá completar los datos que ahí se solicitan (Nombre, Teléfono, Email y Comentario) y presionar el botón "Enviar".</li>
    </ul>
    <figure>
        <img src="../../Content/Resources/Ayuda/Acceso/3-contacto.png" />
        <figcaption>3. Contacto</figcaption>
    </figure>

    <h2 id="creacionUsuario">2.3 Alta de usuarios</h2>
    <p>
        Para la creación de un nuevo usuario se deberá seleccionar el tipo de usuario (Administrador, Docente, alumno) y presionar el botón "Registrarse". Dicha opción se encuentra disponible en la parte derecha de la página principal.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Acceso/4-seleccionTipoUsuario.png" />
        <figcaption>4. Registrar nuevo usuario</figcaption>
    </figure>
    <p>
        Después de eso el sistema lo dirigirá a la siguiente página donde deberá completar los datos que ahí se solicitan y presionar el botón "Aceptar".
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Acceso/5-nuevoUsuario.png" />
        <figcaption>5. Formulario de nuevo usuario</figcaption>
    </figure>
    <p>
        Los datos que se solicitan se dividen en dos grupos: <b>Datos de usuario</b> e <b>Información de contacto</b>. <br />
        Los datos de usuario le servirán al usuario para poder ingresar al sistama. Estos datos son:
    </p>
    <ul>
        <li type="disc"><b>Email,</b> dirección de correo electrónico que se usuará para identificar al usuario del sistema.</li>
        <li type="disc"><b>Contraseña,</b> que se usará para acceder al sistema.</li>
        <li type="disc"><b>Repetir Contraseña</b>.</li>
    </ul>
    <br />
    <p>
        La información de contacto es información básica del usuario. Estos datos son:
    </p>
    <ul>
        <li type="disc"><b>Nombre</b></li>
        <li type="disc"><b>Apellido</b></li>
        <li type="disc"><b>Fecha de nacimiento</b></li>
        <li type="disc"><b>País, Provincia y Localidad</b></li>
    </ul>

    <h2 id="modificarUsuario">2.4 Modificar datos de usuario</h2>
    <p>
        Para modificar los datos de un usuario se debe acceder a la sección de <b>Modificar mis datos</b> que se encuentra disponible en la barra de accesos del usuario logueado.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Acceso/6-modificarDatos.png" />
        <figcaption>6. Modificar datos de usuario</figcaption>
    </figure>
    <p>
        Una vez ahí dentro el usuario podrá ver todos sus datos los cuales podrá mmodificar libremente. Una vez finalizada se deberá presionar el botón <b>"Aceptar"</b> para confirmar los cambios.
        <br /><br />
        *Por cuestiones de seguridad, la sección de <b>Modifcar contraseña</b> se encuentra deshabilitada. 
        En caso de querer cambiar la misma, dentro de la misma pantalla, se deberá presionar sobre <b>Cambiar Contraseña</b> que se encuentra en la sección de <b>"Datos del usuario"</b>. 
        Hecho esto, se dirigirá al usuario a una nueva ventana donde deberá ingresar:
    </p>
    <ul>
        <li type="disc"><b>Contraseña actual</b>, contraseña usada actualmente para ingresar al sistema.</li>
        <li type="disc"><b>Nueva contraseña</b>, que será usada para ingresar a sistema.</li>
        <li type="disc"><b>Repetir nueva contraseña</b></li>
    </ul>

    <h2 id="darDeBajaUsuario">2.5 Darse de baja del sistema</h2>
    <p>
        Para darse de baja del sistema se debe acceder a la sección de <b>Modificar mis datos</b> que se encuentra disponible en la barra de accesos del usuario logueado.
        <br />
        Una vez ahí, podrá encontrar la opción de darse de baja al final de la página, sobre la derecha, bajo el nombre de <b>¿Deseas dar de baja al usuario?</b> donde se deberá hacer click con el botón izquierdo del mouse.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Acceso/7-darDeBajaUsuario.png" />
        <figcaption>7. Darse de baja del sistema</figcaption>
    </figure>
    <p>
        Una vez presionado, se dirigirá a una nueva página para que se confirme la acción. Para ello, deberá presionar el botón <b>"Aceptar"</b>.
    </p>
</div>
