<div id="docente">
    <h1>Docente</h1>
    <figure>
        <img src="../../Content/Resources/Ayuda/Docente/24-funcionesDocente.png" />
        <figcaption>22. Funciones del docente</figcaption>
    </figure>
    <p>
        Un usuario con rol de docente puede:
    </p>
    <ul>
        <li type="disc"><b>Gestión de actividades,</b> esto incluye la creación de una actividad, la asignación a un curso y la corrección.</li>
        <li type="disc"><b>Gestión de recursos,</b> que le permitirá a un docente controlar los recursos (imágenes, sonidos y videos) que van a ser usados en las actividades.</li>
        <li type="disc"><b>Gestión de alumnos,</b> aceptando las solicitudes de los alumnos para participar en un curso y también invitar a alumnos a un curso específico.</li>
        <li type="disc"><b>Seguimientos de alumnos</b></li>
    </ul>

    <h2 id="docentePrincipal">4.1 Pantalla principal</h2>
    <p>
        Al ingresar con un usuario docente, el sistema le mostrará al usuario su página principal la cual le muestra información a modo de resumen de los actividades y los cursos a su cargo.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Docente/25-pantallaPrincipal.png" />
        <figcaption>23. Pagina principal del docente</figcaption>
    </figure>
    <p>
        Dentro de la pantalla principal se pueden distinguir 5(cinco) secciones:
    </p>
    <ul>
        <li type="disc">1- <b>Barra de accesos,</b> con accesos directos a funcionalidad básica del docente.</li>
        <li type="disc">2- <b>Actividades a corregir,</b> donde se ven todas las actividades realizadas por los alumnos y que esperan una corrección por parte del docente.</li>
        <li type="disc">3- <b>Cursos,</b> listado de los cursos a cargo.</li>
        <li type="disc">4- <b>Solicitudes,</b> solicitudes de los administradores para hacerse responsable de un curso o de los alumnos para participar en un curso.</li>
        <li type="disc">5- <b>Instituciones,</b> donde se listan todas las instituciones en las que participa el docente.</li>
    </ul>
    <p>
        *Si el usuario quiere desvincularse de un curso o una institución, primero deberá seleccionar el curso o la institución de la cual quiere dejer de formar parte y presionar el botón 
        <small><img src="../../Content/Resources/Ayuda/Administrador/23-desvincularCurso.png" /></small>.
        Luego de eso el sistema solicitará una confirmación de la acción la cual se deberá confirmar presionando sobre el botón <b>Sí, estoy seguro</b>.
    </p>

    <h2 id="docenteCursos">4.2 Cursos</h2>
    <p>
        Dentro de las secciones que se muestran en la pantalla principal, se encuentra la sección de cursos donde se lista a todos los cursos de los cuales un docente es responsable y 
        en donde se podrán realizar acciones sobre los cursos.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Docente/26-cursosDocentes.png" />
        <figcaption>24. Cursos del docente</figcaption>
    </figure>
    <p>Para ver las opciones de los cursos primero se debe seleccionar un curso. Una vez hecho eso se mostrarán las siguientes opciones:</p>
    <ul>
        <li type="disc"><b>Agregar actividades,</b> permite agregar una actividad al curso.</li>
        <li type="disc"><b>Agregar alumnos,</b> muestra un listado con los alumnos inscriptos en PEALS dando la posibilidad de invitarlos a participar en el curso.</li>
        <li type="disc"><b>Ver alumnos,</b> muestra los alumnos inscriptos en el curso.</li>
    </ul>

    <h2 id="docenteRecursos">4.3 Gestión de Recursos</h2>
    <figure>
        <img src="../../Content/Resources/Ayuda/Docente/27-gestionRecursos.png" />
        <figcaption>25. Gestión de recursos</figcaption>
    </figure>
    <p>
        Los recursos son una parte esecial de PEALS porque estos son los que compondran las actividades. Es por esto
        que el docente tiene una parte especial dedicada a la gestión de los recursos donde el usuario podrá ver los recursos
        que tiene cargado, sean estos imágenes, audios o videos, cambiarles el nombre, eliminarlos y cargar nuevos.
        <br />
        Además de la funcionalidad mencionada con anterioridad, existe la posibilidad de compartir un docente con una institución específica. Para ello,
        se deberá presionar en el botón <b>Compartir</b> que se encuentra en el cuadro del recurso. Al hacer eso, se le mostrará al usuario un listado con 
        las instituciones en las que participa para que selecciona con cual de estas desea compartirlas.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Docente/28-subirRecursos.png" />
        <figcaption>26. Gestión de recursos - Cargar nuevo recurso</figcaption>
    </figure>
    <p>
        Si lo que se desea es agregar nuevos recuros, se deberá presionar sobre <b>Nuevo Recurso</b> que se encuentra en la parte superior derecha de la pantalla. 
        Esto le permitirá al usuario cargar recursos desde su PC.
        <br />
        Todos los recuros nuevos se listarán en la sección llamada <b>Por subir</b> donde ya se identificara si el recurso que se desea agregar en una imágen, un audio o un video.
        <br /><br />
        Una vez que se tienen todos los recursos que se desean cargar, se deberá presionar sobre el botón
        <small><img src="../../Content/Resources/Ayuda/Docente/29-Upload.png" /></small>
        lo cual hará que el recurso se empiece a subir en PEALS.
        <br />
        El proceso de subida podra ser visto desde una barra de progreso y, cuando termine, la fila entera cambiará de color según sea la subida exitosa o no.
        <br />
        Si la carga fue exitosa, la file se pondrá de color verde y se podrá ver un tilde a la derecha.
    </p>

    <h2 id="docenteActividad">4.4 Actividad</h2>
    <p>
        Las actividades son el eje central del sistema PEALS debido a que de ellas se obtiene gran parte de la información que será de utilidad para los usuarios.
        <br />
        Para crear una nueva activdad se deberá presionar sobre <b>Nueva Actividad</b>.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Docente/30-solucionOpciones.png" />
        <figcaption>27. Nueva Actividad</figcaption>
    </figure>
    <p>Una actividad esta compuesta por:</p>
    <ul>
        <li type="disc">una serie de <b>"Ejercicios (máximo 16)"</b> los cuales tendrán su propio diseño y si propia solución.</li>
        <li type="disc"><b>"Información Básica"</b> como ser el nombre y a la cual se le puede agregar un video a modo de explicación</li>
        <li type="disc"><b>"Criterio de Evaluación"</b> donde se definirán imágenes para mostrar según sea el puntaje obtenido</li>
    </ul>
    <p>
        Para agregar un ejercicio se debe presionar en el botón 
        <small><img src="../../Content/Resources/MasterPage/Agregar.png" /></small>
        el cual se en la parte superior izquierda de la pantalla. Hecho esto, el ejercicio se agregará al listado con un fondo en rojo para 
        marcar que es el ejercicio activo. Además dentro del se marcará si el mismo ya tiene una solución seleccionada.
        <br />
        Una vez agregado el ejercicio, se deberá agregarar los recursos en el área de diseño y para finalizar se deberá seleccionar el tipo de solución para ese ejercicio.
    </p>
    <div id="docenteDiseñoActividad" class="submenu">
        <div class="title"><h2>4.4.1</h2><h2>Diseño de un Ejercicio</h2></div>
        <p>
            Diseñar el ejercicio consiste en seleccionar recursos, posicionarlos y redimencionarlos de manera personalizada sabiendo que eso será
            lo que se le mostrará al alumno para que realice la dicho ejercicio.
            <br />
            Para ello el usuario dispone de una barra de herramientas ubicada a la derecha la cual, haciendo click, mostrará un panel de los recursos dispobibles para ser cargados
            en la actividad más la posibilidad de buscar los recursos en la PC.
        </p>
        <figure>
            <img src="../../Content/Resources/Ayuda/Docente/33-agregarRecursoActividad.png" />
            <figcaption>28. Agregar Recursos a un Ejercicio</figcaption>
        </figure>    
        <p>Una vez seleccionados todos los recursos que se desean se deberá presionar el botón <b>"Agregar"</b>.</p>
    </div>

    <div id="docenteSolucionActividad" class="submenu">
        <div class="title"><h2>4.4.2</h2><h2>Solución de un Ejercicio</h2></div>
        <p>PEALS define 3(tres) tipos de soluciones para un ejercicio, y estas son:</p>
        <ul>
            <li type="disc">
                <b>Opciones,</b> para que el alumno responda seleccionando una opción. Para ellos se deberá especificar cual de todos los recursos cargados en el ejercicio es el correcto.
                Para ello, se deberá seleccionar primero el tipo de solución <b>Opciones</b> y después presionar el botón
                <small><img src="../../Content/Resources/Actividad/checked.png" /></small>
                ubicado arriba del recurso que se quiere marcar como correcto.
            </li>
            <li type="disc"><b>Escribir,</b> si lo que se desea es que el alumno escriba la respuesta. Además, también se da la posibilidad de habilitar el deletreo de la palabra para el caso de que el alumno no acierte a la primera.</li>
            <li type="disc"><b>Señas,</b> si lo que se desea es que el alumno responda haciendo una seña. Para ello el alumno deberá disponer de una cámara web</li>
        </ul>
        <figure>
            <img src="../../Content/Resources/Ayuda/Docente/31-solucionEscribir.png" />
            <figcaption>29. Diseño de la Actividad - Solución Escribir</figcaption>
        </figure>
        <figure>
            <img src="../../Content/Resources/Ayuda/Docente/32-solucionSeñas.png" />
            <figcaption>30. Diseño de la Actividad - Solución Señas</figcaption>
        </figure>
        <br /><br />
        <p>
            Una vez terminado el diseño de la actividad se deberá presionar el botón <b>Continuar</b> para pasar a la carga de los datos de presentación y corrección de la actividad.
            <br />
            Para finalizar se debe presionar el botón <b>Guardar</b> el cual registrará la actividad en PEALS
        </p>
    </div>
    <div id="docenteAsignarActividad" class="submenu">
        <div class="title"><h2>4.4.3</h2><h2>Asignar Ejercicio a Curso</h2></div>
        <p>
            Para asignar una actividad a un curso primero se deberá seleccionar la actividad de listado de actividades y luego presionar el botón <b>Asignar Actividad</b>.
            <br />
            Al presionar sobre el botón el sistema mostrará un listado con los cursos del docente a los cuales les puede asignar la actividad. Para ello solo debe hacerse click sobre los cursos que se deseen.
            <br />
            Además, también se deberá ingresar la <b>fecha de apertura</b>. Este valor indica la fecha a partir de la cual será visible por lo alumnos.
            <br />
            Una vez finalizado se deberá presionar el botón <b>Asignar</b> para confirmar.
        </p>
        <figure>
            <img src="../../Content/Resources/Ayuda/Docente/35-asignarActividad.png" />
            <figcaption>31. Asignar Actividad a Curso</figcaption>
        </figure>    
    </div>
</div>
