<div id="introduccion">
    <h1>1. Introducción</h1>
    <h2 id="proposito">1.1 Propósito del documento</h2>
    <p>
        El propósito de este documento es describir de forma general las necesidades y características más 
        importantes del Sistema PEALS, enfocándose en como los usuarios pueden ejecutar las diferentes funcionalidades que realiza el sistema.
    </p>
</div>
