<div id="reportes">
    <h1>Reportes</h1>
    <p>
        Los reportes contienen información útil para el usuario y pueden generarse accediendo a la sección <b>Reportes</b> que se encuentra en la barra de accesos
        de todos los usuario.
        <br /><br />
        Cada usuario tendrá sus propios reportes los cuales irán variando según su actividad en el sistema.
    </p>
    <figure>
        <img src="../../Content/Resources/Ayuda/Reportes/41-reporteAdministrador.png" />
        <figcaption>37. Reportes del administrador</figcaption>
    </figure>
    <figure>
        <img src="../../Content/Resources/Ayuda/Reportes/42-reporteDocente.png" />
        <figcaption>37. Reportes del docente</figcaption>
    </figure>
    <figure>
        <img src="../../Content/Resources/Ayuda/Reportes/43-reporteAlumno.png" />
        <figcaption>37. Reportes del alumno</figcaption>
    </figure>
    <p>
        Para generar un reporte, el usuario deberá seleccionar el tipo de reporte que desea ver al cual le podrá agregar filtros para dejar solo la información que se necesita.
        <br />
        Dentro de la vista del reporte, el usuario podrá imprimirlos si así lo desea.
    </p>
    <a href="http://selectpdf.com/save-as-pdf/">Save as Pdf</a> 
</div>
