@{
    //Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <div style="height: 600px; font-size:1.5em; color:#0AA7A2; text-align:center; margin-top: 50px;">
        Error: @ViewBag.error <br /><br />
        Pongase en contacto con <a href="/Mensaje/NuevoMensaje?destinatarioAdmin=true"><b>soporte@peals.com.ar</b></a> para obtener información adicional.<br /><br />
        Pedimos disculpas por las molestias.
    </div>
</body>
</html>