@model IEnumerable<Peals.Models.institucion>
<link href="@Url.Content("~/Content/Estilos/WebGrid.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "PEALS - ADMINISTRACION INSTITUCION";
}

 <div style="float:left; width:50%; text-align:center; padding-top:20px">
    	<a href="@Url.Action("PlantelDocente", "Institucion")">
            <input type="image" id="cursos" src="../../../Content/Recursos/Institucion/equipoDocente.jpeg" width="228px" height="221px"/>
        	<img src="../../../Content/Recursos/Institucion/plantelDocenteLetras.jpg" width="400" height="50">
        </a>
 </div>

 <div style="float:right; width:50%; text-align:center; padding-top:20px">
	    <a href="InstitucionCurso.php">
            <input type="image" id="cursos" src="../../../Content/Recursos/Institucion/cursos.jpg" />
            <img src="../../../Content/Recursos/Institucion/cursosLetras.jpg" width="300" height="50">
        </a>
 </div>
